* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.container {
  padding: 2rem 15vw;
}

header {
  padding: 20vh 0;
  animation: 1s ease-in 0s 1 slideInFromBottomAndFadeIn;
}

h1 {
  font-size: 3rem;
  padding: 1rem 0;
}

header p {
  font-size: 1.5rem;
}

hr {
  width: 20%;
  margin: auto;
  border-color: rgb(41, 173, 255);
}

section {
  padding: 5vh 5vw;
  max-height: 80vh;
  overflow-x: visible;
  overflow-y: hidden;
  transition: all 1s ease;
}

#projects {
  position: relative;
}

#projects:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;  
  height: 100%;
  width: 100%;
  background: linear-gradient(to top,
     rgba(51,51,51, 1) 0%, 
     rgba(6,6,6, 0) 10%
  );
  pointer-events: none;
  z-index: 100;
}

section.expand {
  max-height: var(--originalHeight);
}

h2 {
  font-size: 2rem;
}

.project-card {
  display: flex;
  overflow: hidden;
  margin: 3rem 0;
  width: 100%;
  height: 20rem;
  background-color: #666;
  border-radius: 14px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  transition: all .2s ease;
}

.project-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 3px 15px rgba(100,100,100,0.2);
}

.project-card--left .project-card__information {
  border-right: 2px solid rgba(41, 173, 255, 0.5);
}

.project-card--right .project-card__information {
  border-left: 2px solid rgba(41, 173, 255, 0.5);
}

.project-card__information {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: .75rem;
  font-style: italic;
  z-index: 100;
}

.project-card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.project-card__header h3 {
  font-size: 1.5rem;
}

.project-card__header i {
  font-size: 1.5rem;
  margin-left: .5rem;
  transition: color .1s ease-in;
}

.project-card__header i:hover {
  color: rgb(41, 173, 255);
}

.project-card__information p {
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

.project-tags {
  margin-top: auto;
  align-self: flex-end;
  font-size: .8rem;
}

.tag {
  background-color: rgba(41, 173, 255, 0.5);
  border-radius: 14px;
  padding: .25rem .5rem;
}

.project-card__image-container {
  position: relative;
  width: 40%;
}

.image-uploader {
  background: url('./media/image-uploader.png') no-repeat center;
  background-size: cover;
}

.my-unsplash {
  background: url('./media/unsplash.png') no-repeat center;
  background-size: cover;
}

.cat-wiki {
  background: url('./media/catwiki.png') no-repeat center;
  background-size: cover;
}

#expandToggle {
  margin: 3vh 0;
  text-align: center;
}

#expandToggle:hover {
  cursor: pointer;
}

.contact-link {
  display: block;
  text-decoration: underline;
  margin: 3vh 0;
}

.contact-link:hover {
  text-decoration: none;
}

@media (max-width: 1441px) { 
  /* hi-res laptops and desktops */ 
  .container {
    padding: 2rem 13vw;
  }
}

@media (max-width: 1281px) { 
  /* hi-res laptops and desktops */ 
  .container {
    padding: 2rem 10vw;
  }
}

@media (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */ 
  header {
    padding: 10vh 0;
  }

  .container {
    padding: 2rem 5vw;
  }

  .project-card {
    height: 23rem;
  }
}

@media (max-width: 801px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .container {
    padding: 2rem;
  }

  .project-card {
    height: 25rem;
  }
}

@media (max-width: 600px)  { 
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  header {
    padding: 0 0 5vh 0;
  }

  .project-card {
    flex-direction: column;
    height: 30rem;
  }
  
  .project-card--left .project-card__information {
    border-right: none;
  }

  .project-card--right .project-card__information {
    border-left: none;
  }

  .project-card__information {
    width: 100%;
    height: 70%;
    overflow-y: scroll;
  } 

  .project-card__image-container {
    width: 100%;
    height: 30%;
  }

  .project-card__header i {
    margin-left: 0;
  }
}

@media (max-width: 480px)  { 
  /* smartphones, Android phones, landscape iPhone */ 
}

@media (max-width: 320px)  { 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
}
@media (prefers-color-scheme: dark) {
  * {
    color: white;
  }

  body {
    background-color: #333;
  }
}

@media (prefers-color-scheme: light) {
  * {
    color: black;
  }

  body {
    background-color: #ddd;
  }

  .project-card {
    background-color: #fff;
  }

  #projects:after {
    background: linear-gradient(to top,
     rgba(221,221,221, 1) 0%, 
     rgba(6,6,6, 0) 10%
    );
  }
}

@keyframes slideInFromBottomAndFadeIn {
  0% {
    transform: translateY(0%);
    opacity: 0%;
  }
  40% {
    transform: translateY(10%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}